#inRow > ion-col:nth-child(odd){
    background: #D6D6D6;
    
}

#inRow > ion-col{
    border: 1px solid gray;
}

#row2 > ion-col{
    border: 1px solid gray;
}

#row2 > ion-col > ion-text{
    text-align: center;
}



#row2 > tr, td, th{
    border: 1px solid gray;
}

#row2 > tr, td > ion-text{
    text-align: center;
}

#table{
    margin: auto;
    width: 80vw;
}


ion-col{
    padding: 0;
}

ion-searchbar{
    padding:0 ;
}

ion-text{
    margin: 10px;
    display: block;
}